.body {
  height: 100%;
  min-width: var(--sidebar-width-min);
  width: 90%;
  max-width: var(--sidebar-width-max);
  background: var(--secondary-bg-color);
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.top {
  flex-grow: 1;
}

.bottom {
  flex-grow: 0;
}

.collapsed {
  min-width: var(--sidebar-width-collapsed);
  width: 100%;
  max-width: var(--sidebar-width-collapsed);
}
