@import "reset";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app-content-page {
  display: flex;
  overflow: hidden;
  height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

.app-page-wrapper {
  flex-grow: 1;
  padding: 20px;
}