.body {
  cursor: pointer;
  padding: 4px 6px;
}

.clear {
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--primary-accent-color);
  color: var(--primary-accent-color);
}

.background {
  background: var(--primary-bg-color);
  color: var(--primary-accent-color);
  border: none;
}

.inverted {
  background: var(--secondary-bg-color);
  color: var(--secondary-accent-color);
  border: none;
}

.s {
  font: var(--font-s)
}

.m {
  font: var(--font-m)
}

.l {
  font: var(--font-l)
}